<h2>My heroes</h2>
<ul class="heroes-list">
  <li
  [class.selected]="hero === selectedHero"
  *ngFor="let hero of heroes"
  (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>