.heroes-list{
    padding-left: 0;
    overflow: auto;
    max-height: 7em;

    li{
        margin: 0;
        list-style:none; 
        margin-bottom: .5em;
        border: 1px solid silver;
        border-radius: 3px;
        padding: 1em;
    
        &.selected{
            background-color: rgb(236, 236, 236);
        }
    }   
}